.carousel-control .fa-arrow-right, .carousel-control .fa-arrow-left{
    position: absolute;
    top: 50%;
    margin-top: -10px;
    z-index: 5;
    display: inline-block;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.margin-top-20{
    margin-top: 20px;
}

.margin-bottom-20{
    margin-bottom: 20px;
}
.margin-bottom-10, .list-unstyled li{
    margin-bottom: 10px;
}

.margin-auto{
    margin: 0 auto;
}

.navbar-default{
    background: #614B7C;
}
.navbar-default .navbar-brand,.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text, .nav{
    color: #fff;
}

.bg-purple{
    background: #614B7C;
}

.white{
    color: #fff;
}

body{
    font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif;
}

.width-100{
    width:100%;
}
.width-48{
    width:49%;
}

.margin-right-75{
    margin-right: .75%;
}
.padding-20{
    padding:20px;
}

.input-style{
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 1px;
    background-color: #EEEEEE;
    resize: none;
    margin-bottom: 10px;
}

.submit-button{
    border: 2px solid #604d7a;
    border-radius: 4px;
}

.font-size-16{
    font-size: 16px;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: center;
}

.navbar .navbar-collapse {
    text-align: center;
    top: 15px;
}


.maxheight{
    max-height: 80vh;
}

.padding-14
{
    padding-top:14px;
    padding-bottom:14px;
    padding-left:15px;
}

.hover-li:hover, .navbar-default .navbar-brand:hover,.navbar-default .navbar-nav li a:hover {
    color:dodgerblue;
}

